TZ=America/Sao_Paulo
API_PORT=8080
SUPABASE_DB_URL=postgresql://postgres:[YOUR-PASSWORD]@db.[YOUR-PROJECT-REF].supabase.co:5432/postgres
SUPABASE_DB_SSL=true
DB_POOL_MAX=10
NETWORK_BASE_URL=http://api:8080
TRANSFER_HOST=192.168.0.10
ALLOW_CHEATS=true
ADMIN_CREATIVE_GAMERTAGS=SerafimM2025
ADMIN_OPERATOR_XUIDS=2535408045948271
NETWORK_AUTOSAVE_INTERVAL_TICKS=1200
NETWORK_HEARTBEAT_INTERVAL_TICKS=200

BEDROCK_SOURCE_DIR=bedrock-server-1.26.10.4-linux
CAPITAL_PORT=19132
ARENAS_PORT=19133
FIRE_PORT=19134
WATER_PORT=19135
EARTH_PORT=19136
AIR_PORT=19137
EXPLORATION_PORT=19138
